*{padding: 0;margin: 0;}
a{text-decoration: none;}
body{margin-top: 20px;background: #fafafa;}
.login-head{width: 1000px;height: 100px;padding: 20px 0px;box-sizing: border-box;margin: 0 auto;}
.login-head-left{float: left;}
.login-head-left-logo{width: 120px;height: 60px;float: left;}
.login-head-left-logo img{width: 120px;height: 60px;}
.login-head-left-text{width: 180px;height: 40px;float: left;margin-top: 10px;line-height: 40px;margin-left: 10px;padding: 0px 0px 0px 10px;border-left: 2px solid #e6e6e6;color: #666;}
.login-head-right{float: right;color: #666;margin-top: 15px;}
.login-head-right a{color: #c00;}

.login-content{width: 1000px;height: 350px;margin: 0 auto;margin-top: 20px;margin-bottom: 50px;border: 1px solid #e6e6e6;}
.login-content-left{width: 500px;height: 350px;float: left;}
.login-content-left img,.login-content-left a{width: 500px;height: 350px;}
.login-content-right{width: 500px;height: 350px;float: right;padding: 30px 60px;box-sizing: border-box;background: white;}
.login-content-right-title{width: 150px;height: 40px;margin: 0 auto;line-height: 40px;font-size: 20px;text-align: center;color: #333;margin-bottom: 30px;border-bottom: 2px solid #de3030;}
.login-content-right input{width: 200px;height: 30px;margin-left: 85px;margin-bottom: 10px;text-indent: 5px;}
#login-content-submit{width: 204px;height: 35px;margin-top: 10px;cursor: pointer;font-size: 20px;border: none;background: #de3030;color: white;}


.login-footer{width: 1000px;height: 30px;margin: 0 auto;color: #666;margin-top: 10px;}
.login-footer a{color: #666;}
.login-footer-left{float: left;}
.login-footer-left li{float: left;list-style: none;margin-right: 20px;}
.login-footer-right{float: right;}