*{margin: 0;padding: 0;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
  /*公用底部(public bottom)*/
.bottom-content{width: 1100px;height: 170px;background: #f7f7f7;margin: 0 auto;border-top: 1px solid gainsboro;padding-top: 20px;}
  /*底部(购物指南·售后服务·商城保障·商家服务)四个的通用样式*/
.bottom-public-style{float: left;width: 150px;}
.bottom-public-style h5{font-size: 18px;}
.bottom-public-style p{padding: 5px 0px;}
 /*底部(购物指南·售后服务·商城保障·商家服务)四个的通用样式【结束】*/
/*热线*/
.bottom-hotline{float: left;width: 250px;height: 150px;margin-left: 50px;position: relative;}
.bottom-hotline p{padding: 5px 0px;}
.bottom-hotline::before{display: block;content: '';width: 60px;height: 60px;position: absolute;left: -60px;background: url(../img/bottom-hotline.png) no-repeat;background-size: 58px 58px;}
/*热线【结束】*/
/*招商合作*/
.bottom-business-Cooperation{float: right;width: 200px;height: 150px;position: relative;}
.bottom-business-Cooperation h4{font-size: 20px;}
.bottom-business-Cooperation p{padding: 5px 0px;}
.bottom-business-Cooperation a{display:block;width:100px;height:30px;background: red;line-height: 30px;text-align: center;color: white;}
.bottom-business-Cooperation::before{display: block;content: '';width: 60px;height: 60px;position: absolute;left: -70px;background: url(../img/bottom-business-Cooperation.png) no-repeat;}
/*招商合作【结束】*/
/*页脚(footer)页面最底下黑色那块*/
.wrapper-footer{background: dimgrey;}
.footer-content{width: 1100PX;height: 150PX;margin: 0 auto;padding-top: 30px;color: #999;font-size: 14px;}
.footer-on-line li{list-style: none;float: left;padding-right: 20px;}
.footer-on-line li a{color: white;}
.footer-about li{list-style: none;float: left;padding-right: 20px;margin: 25px 0px;}
.footer-about li a,.footer-copyright a{color: #999;}
.footer-copyright li{list-style: none;float: left;padding-right: 20px;margin-bottom: 25px}
.footer-right{width: 300px;height: 100px;float: right;margin-top: -90px;}
.footer-right a{color: white;}
.footer-right::before{content: "";width: 30px;height: 30px;display: inline-block;background: url(../img/Sina.png) no-repeat;}
.footer-QR-code{width: 100px;height: 100px;float: right;background: url(../img/qr.png) no-repeat;}
.footer-QR-code::before{content: "";display: inline-block;width: 35px;height: 35px;background: yellow;margin-left: -40px;background: url(../img/WeChat.png) no-repeat;}
/*页脚(footer)页面最底下黑色那块【结束】*/











